
#top {
    position: relative;
    /*background-color: #036fab;*/
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    /*background-color:*/ 
    background-color:rgba(0,0,0,0.1);
    color: white;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    /*background-color: #dddddd;*/
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.center {
    /*border: 2px solid;*/
    margin: auto;
    width: 60%;
    padding: 10px;
    top: 50%;
    left: 50%;
    text-align: center;
}

.button {
    border-radius: 12px;
    border: none;
     padding: 15px 32px;
    
}

.ui-dataview-list .ui-dataview-row {
        border-bottom: 1px solid #A8A8A8;
        padding: 25px 10px;
        /* with the exported variables from Nova and Luna Themes*/
        border-bottom-color: var(--input-border-color, #A8A8A8);
    }
    
    .logo {
        width: 5%;
    }
    .detail {
        width: 85%;
        padding-left: 25px;
    }
    
#centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
}

.dialog {
    position: relative;

    width: 600px;
    margin-left: -300px;

    height: 400px;
    margin-top: -200px;
}


